:root {
    --bg-gray:#ddd;
    --text-gray:#4a4a4a;
    --color-primary: #254263;
    --white: #fff;
    --text-light-gray: #aaa;  
    --star-yellow: #ffbb3a;

}

.container{
    max-width: 720px;
}

.movie-form {
    
}

html, body{
    background-color:var(--bg-gray); 
}


h1, h2 {
    margin:0;
    font-family: 'Courier New', Courier, monospace;

}

h3{
   color:black; 
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

ol {
    list-style-type: none;
  }


header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

table {
    border-collapse: collapse;
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px;
  }
  
  th {
    padding: 10px;
    border: 1px solid #cccccc;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }


   
.movie-btn {
       width: 180px;
       height: 40px;
       background-color: brown;
       color: var(--white);
       font-size: 14px;
       font-weight: 700;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 4px;
       border: 0;
       text-decoration: none;
       font-family: Georgia, 'Times New Roman', Times, serif;
} 

.movie-btn:hover{
    background-color: red;
    color: white;
} 



.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.descr{
    background-color: #ffbb3a;
    justify-content: center;
    align-items: center;

}





.cadast {
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    max-width: 500px;
    padding: 10px;
    background-color: #c3a8dc;
    border-radius: 8px;
    justify-content: center;

}

  input {
    background-color:none;
    border: none;
    padding: 0px;
    font-size: 16px;
    border-radius: 8px;
  }


  input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    width: 18em;
    height: 0.5em;
    position: left;
    left: 4em;
    border-radius: 8px;
    background-color: #8c74b5;
  
}



  
  
  
  
.cadast label {
    font-size: 15px;
    color: var(--color-primary);
}
    
footer{
    color:black;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
}    
 
    
