:root {
    --bg-gray:#ddd;
    --text-gray:#4a4a4a;
    --color-primary: #254263;
    --white: #fff;
    --text-light-gray: #aaa;  
    --star-yellow: #ffbb3a;

}


  

#cadastro_corpo{
    background-color: #412671;
}

.movie-form{
    background-color: #151e58;
    border-radius: 8px;
    box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.75);
    
}

.container{
    max-width: 720px;
}


html, body{
    background-color:var(--bg-gray); 
    height: 100%;
}


h1, h2{
    margin:0;
    font-family: 'Courier New', Courier, monospace;

}

h3{
   color:rgb(56, 41, 74); 
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#4d4063;

}

ol {
    list-style-type: none;
  }


header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

table {
    border-collapse: collapse;
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px;
  }
  
  th {
    padding: 10px;
    border: 1px solid #cccccc;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }


   
.movie-btn {
       width: 180px;
       height: 40px;
       background-color: brown;
       color: var(--white);
       font-size: 14px;
       font-weight: 700;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 4px;
       border: 0;
       text-decoration: none;
       font-family: Georgia, 'Times New Roman', Times, serif;
       box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.75);
} 

.movie-btn:hover{
    background-color: red;
    color: white;
} 



.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.descr{
    background-color: #ffbb3a;
    justify-content: center;
    align-items: center;

}





.cadast {
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    max-width: 500px;
    padding: 10px;
    background-color:none;
    border-radius: 8px;
    justify-content: center;


}

  input {
    background-color:#b8afc8;
    border: none;
    padding: 0px;
    font-size: 16px;
    border-radius: 8px;
  
  }


  input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    width: 18em;
    height: 0.5em;
    position: left;
    left: 4em;
    border-radius: 8px;
    background-color: #8d65d1;
  
}
  
.cadast label {
    font-size: 15px;
    color: white;
}


.poster{
    border-radius: 18px;
    box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.75);
}



dialog[open] {
    background-color: #8ed2ef;
    border: 2px solid #110d0d;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    padding: 20px;
    position:fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 50%;
    
 


  }
  
  dialog h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  dialog p {
    margin-bottom: 20px;

  }
  
  dialog button {
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.2s ease;
    
  }
  
  dialog button:hover {
    background-color: #333;
  }


  .DescFilme {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  

  .trailer{
    border-radius: 10px;
    border:10px outset #29282a

  }
  
  

  .vagas {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    font-weight:bold;
    color: #333;
    line-height: 1.5;
    text-align: justify;
    margin: 10px 0;
    padding: 0;
  }




    
footer{
    color:rgb(221, 198, 198);
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #2c1248;
  text-align: center;
  justify-content: center;
  padding: 10px 0;
  margin-top: auto;
 
}    
 
/* Defina a propriedade animation na classe .cartaz */
.cartaz {
    animation: aparecer 1s ease forwards;
  }


.movie-form{
    animation: aparecer 0.5s ease forwards;
}
  
  /* Defina a animação aparecer com uma transição de opacidade e transformação */
  @keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .cartaz:hover img {
    animation: pula 0.5s ease-in-out;
  }
  
  @keyframes pula {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  dialog{
    animation: aparecer 0.5s ease forwards;
  }

  


  
  

 
  
