*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.all_body{
    background-color: #912424;
    justify-content: center;
}

.infos-adicionais{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items:flex-end;
    padding-bottom: 10px;
}

header{
    width: 100%;
}

.texto-logo{
    display: flex-column;
    align-items: center;
    justify-content: center;
    font-size: larger;
}


.texto-logo>h3{
  font-size: larger;
    
    font-size: 30px;
}
.texto-logo>p{
    
    font-size: 15px;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #0b0f13; /* Defina a cor desejada aqui */
  }

.footer-container{
    background-color: #936595;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.footer-container .social-media{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.footer-container .social-media .id2{
   padding-right: 10px;
}





  .review {
    width: 40vh;
    height: 30vh;
}


#lingua{
    display:flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 2em;
    margin-left: 2em;
}

  #lingua .linguagem {
    width:3em;
    height: 3em;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1vh;
    border-radius: 4px;
    background-color:white ;
    cursor: pointer;
    text-align: center;
    align-self: center;
    border: solid 2px black;
    padding: 3px;
  }

.img-logo{
    width: 80px;
    height: 80px;
}

.header{
    display: flex;
    width: 100%;
}

.cobrir-infos{
    display: flex;
    width: 100%;
    align-self: flex-end;
    flex-flow: row wrap;
}

.infos-adicionais{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items:flex-end;
    padding-bottom: 10px;
}

header{
    width: 100%;
}

.texto-logo{
    display: flex-column;
    align-items: center;
    justify-content: center;
    font-size: larger;
}


.texto-logo>h3{
  font-size: larger;
    
    font-size: 30px;
}
.texto-logo>p{
    
    font-size: 15px;
}




.custom-dropdown .dropdown-item:hover {
    background-color: #0b0f13; /* Defina a cor desejada aqui */
  }


.infos>a{
    text-decoration: none;
    color:aqua;
    margin-right: 2vh;
    font-size: 1em;
}

.infos{
    display:flex;
    width: 100%;
    justify-content: end;
    padding-left: 1vh;
}





.logogeral{
    padding: 5px;
    display: flex;
    color:#912424;
    align-items:center;
    width: inherit;
  
  }
  
  
  .all_body{
      width: 100%;
  }


.logogeral.img-logo{
    width: 50px;
    height: 50px;
}





.header{
    display:flex;
    background-color: #956865;
}
.produto-placa-mae{
    display: flex;
    flex-wrap: wrap;

}

.picture img{
    width: 200px;
    height: 200px;
}

.ultimas-avaliacoes-alert{
    display: flex;
}

.sugestoes{
    display: flex;
}

.estrela{
    color: rgb(235, 235, 41);
}

.card{
    margin-block: 5px;
    height: fit-content;
    height: 100%;
    align-items: center;
}

.aside{
    background-color: #ccc;
    border-radius: 5px;
    height: fit-content;
}
.card-img-top{
    height: 10vh;
    width: 10vh;
    align-self: center;
}

.review{
    border: solid 3px grey;
}

.sugestoes-div > h3, .ultimas-avaliacoes > h3{
    color: white;
}
.sugestoes .card{
    display: flex;
    align-items: center;
}



.container-fluid{
    justify-content:left;}

@media only screen and (min-width: 700px) and (max-width: 3200px){


    .sugestoes{
        display: flex;
        background-color: aliceblue;
    }

body > div > section > div > section > div.sugestoes-div > div> center{
        display: flex;
        
        margin-left: 15px;
    }
    







.container_1{
    width:100%;
}



.container_1{
    display:flex;
    padding-left: 0;
    margin-left: 0;
    width: 100%;
}

}

.produto-placa-mae{
    align-items: center;
    justify-content: center;
}

.produto-placa-mae > .card {
    margin: 10px;
}

.informacoes-produto{
    width: 100%;
}

.informacoes-produto > .alert, .oferta, .btn{
    margin: 5px;
}

fieldset{
    background-color: #ccc;
    padding: 5px;
}

.sugestoes-div > .sugestoes{
    display: flex;
    justify-content: space-evenly;
}

.sugestoes-div > .sugestoes .center .card{
    width: 10em;
}

#review-produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}