@media screen and (max-width:760px){
    #one{
        background-color: green;
        width: 100%;
        height: 100%;
    }

        
}
@media screen  and (min-width:761px) and (max-width:1365px){
    #one{
        background-color: green;
        width: 100%;
        height: 50%;
        
        }
    
    #two{
        background-color: rgb(77, 72, 223);
        width: 100%;
        height: 50%;
        }
    }
   
@media screen  and (min-width: 1366px){
    #one{
        background-color: green;
        width: 100%;
        height: 20%;
        }
    
    #two{
        background-color: rgb(77, 72, 223);
        width: 100%;
        height: 20%;
    }
    #three{
        background-color: rgb(226, 127, 205);
        width: 100%;
        height: 20%;
    }
    #four{
        background-color: green;
        width: 100%;
        height: 20%;
    }
    #five{
        background-color: rgb(77, 72, 223);
        width: 100%;
        height: 20%;
    }
    
}


body,html{
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;

}


